<!DOCTYPE html>
<html>
<head>
    <title>BAEAI Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
</head>
<body>
    <!-- Header Container -->
    <div id="header-container">
        <h1>GPTBA</h1>
    </div>

    <!-- Menu Bar Container -->
    <div id="menu-bar-container">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('soagile_workflow') }}">SoAgile Workflow</a></li>
            <li><a href="{{ url_for('kpis') }}">KPIs</a></li>
            <li><a href="{{ url_for('resources') }}">Resources</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </div>

    <!-- Features Container -->
    <div id="features-container">
        <button><a href="{{ url_for('add_stakeholder') }}">Add Stakeholder</a></button>
    </div>

   <!-- Option Box Container -->
<div id="optionbox-container">
    <!-- Add any content related to options here -->
</div>

<!-- Chatbox Container -->
<div id="chatbox-container">
    <!-- Add any content related to chat here -->
</div>


</body>
</html>
