body {
    position: relative;
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}

.container {
    position: absolute;
    background-color: #d5dd5d;
    border: 2px solid #000000;
}

.text-center {
    text-align: center;
}

/* Header and Menu Bar Container */
#header-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 7vh;
    border: 2px solid #000000;
    padding: 0.5vh;
    background-color: #d5dd5d;
    margin-left: auto;
    margin-right: auto;
}

#header-menu-container h1 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

#header-menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
}

#header-menu-container li {
    float: center;
}

#header-menu-container li a {
    display: block;
    color: black;
    padding: 1vh 1vw;
    text-decoration: none;
    margin-bottom: 5px;    
}

/* Main Container */
#main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Aligns children to the start of the container */
    height: 85vh;
    width: 100%;
    top: 7vh;
    margin-top: 1vh;
}

/* Features Container */
#features-container {
    width: 20vw;
    height: 85vh;
    padding: 2vh;
    border: 2px solid #000000;
    margin-left: 2px;
}

#features-container button {
    display: block;
    width: 100%;
    height: 3vh;
    margin-top: 0.5vh;
    border: 2px solid #000000;
    background-color: #eff18c;
}

#features-container button a {
    display: block;
    padding: 0.5vh 0;
    text-decoration: none;
    color: black;
}

/* Option Box Container */
#optionbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw; /* Adjusted width */
    height: 89vh;
    border: 2px solid #000000;
}

#form-container {
    height: 50vh; /* Adjust as needed */
    align-self: flex-start;
}

/* Chatbox Container */
#chatbox-container {
    width: 60vw; /* Adjusted width */
    height: 89vh;
    border: 2px solid #000000;
    margin-right: 3px;
    
}

/* GPT Text Display Container */
#gpt-text-display-container {
    width: 97%;
    height: 85%;
    border: 1px solid #000000;
    padding: 10px;
    overflow-y: auto; /* To add a scrollbar when the content exceeds the container height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* User Text Input Container */
#user-text-input-container {
    width: 98%;
    height: 10%;
    border: 2px solid #000000;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-text-input-container input {
    width: 100%;
    height: 100%;
    font-size: x-large;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    #main-container {
        flex-direction: column;
    }

    #features-container, #optionbox-container, #chatbox-container {
        width: 100%;
        height: 15vh;
    }
}
